# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

__pycache__/
*.py[cod]
*$py.class

# Cache
.cache/

# output
*.dot
*.p

# ignore generated python files

cGrammar.tokens
cGrammarLexer.py
cGrammarLexer.tokens
cGrammarListener.py
cGrammarParser.py
cGrammarVisitor.py
data

.vscode

official/c2p.py
symbolTable.txt

# Don't exclude test solutions
!/solutions/*
!/solutions/

# ignore latex aux and log output

*.aux
*.log
