# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

__pycache__/
*.py[cod]
*$py.class



# ignore generated python files in playground federico

playground/federico/src/cGrammar.tokens
playground/federico/src/cGrammarLexer.py
playground/federico/src/cGrammarLexer.tokens
playground/federico/src/cGrammarListener.py
playground/federico/src/cGrammarParser.py
playground/federico/src/cGrammarVisitor.py
